.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-form-container {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.header {
  display: flex;
  justify-content: flex-end; 
  margin-bottom: 10px; 
}
.signout-link {
  display: flex;
  justify-content: flex-start; /* 确保 Sign Out 按钮靠左对齐 */
  align-items: center;
  flex: 1; /* 允许 Sign Out 链接占据足够空间 */
}
.signup-link {
  margin: 0; 
}

.signup-link .ui.button {
  margin: 0; 
}

.login-page .ui.form .field {
  margin-bottom: 15px; 
}

.login-page .ui.form .field label {
  display: block;
  margin-bottom: 5px; 
}

.login-page .ui.form .field input {
  width: 90%; 
  padding: 10px; 
}

.login-page .ui.button {
  margin-top: 10px; 
}

.error-message {
  color: red;
}

.login-button {
  width: 95%; 
  background-color: #007bff; /* 设置按钮背景色为蓝色 */
  color: white; /* 设置按钮文字颜色为白色 */
  border-radius: 5px; /* 设置按钮边框圆角 */
  padding: 10px 20px; /* 设置按钮内边距 */
  font-size: 16px; /* 设置按钮字体大小 */
  font-weight: bold; /* 设置按钮字体加粗 */
  border: 2px solid white; /* 设置按钮边框颜色为白色，边框宽度为2px */
}

.signout-button,
.sign-button {
 
  color: #007bff; /* 设置按钮文字颜色为白色 */
  background-color: #ffffff;
 
  padding: 10px 20px; /* 设置按钮内边距 */
  font-size: 16px; /* 设置按钮字体大小 */
  font-weight: bold; /* 设置按钮字体加粗 */
   border: 2px solid #007bff; /* 设置按钮边框颜色为白色，边框宽度为2px */
}
 
